# /usr/lib/systemd/system/stock-miner.service

[Unit]
Description=Stock miner
Documentation=https://github.com/imega/stock-miner
After=network-online.target firewalld.service containerd.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/irvis/stock-miner/stock-miner
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutSec=0
RestartSec=2
Restart=always

[Install]
WantedBy=multi-user.target
